{{ if .IsHome -}}
  <script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "WebSite",
    "@id": "{{ (site.GetPage "/").Permalink | safeURL }}#website",
    "name": "{{ .Site.Title | safeJS }}",
    "description": "Gibraltar board games, Magic: The Gathering and other TCGs, RPGs and tabletop events at Dice Bastion in Casemates Vaults.",
    {{ with .Site.LanguageCode }}"inLanguage": "{{ . }}",{{ end }}
    "url": "{{ (site.GetPage "/").Permalink | safeURL }}",
    "publisher": {
      "@id": "{{ (site.GetPage "/").Permalink | safeURL }}#organization"
    }
  }
  </script>
  <script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "HobbyShop",
    "@id": "{{ (site.GetPage "/").Permalink | safeURL }}#organization",
    "name": "Dice Bastion",
    "alternateName": "Gibraltar Dice Bastion",
    "description": "Gibraltar hub for board games, trading card games (MTG, Pokemon and more), wargames and RPGs. Public Friday nights, member access on other days, shop and board game library at Casemates Vaults.",
    "url": "{{ (site.GetPage "/").Permalink | safeURL }}",
    "image": "{{ "img/DB_Logo_2025.png" | absURL }}",
    "logo": "{{ "img/DB_Logo_2025.png" | absURL }}",
    "email": "contact@dicebastion.com",
    "address": {
      "@type": "PostalAddress",
      "streetAddress": "Unit 23a Casemates Vaults, Casemates Square",
      "addressLocality": "Gibraltar",
      "postalCode": "GX11 1AA",
      "addressCountry": "GI"
    },
    "geo": {
      "@type": "GeoCoordinates",
      "latitude": 36.1455,
      "longitude": -5.3536
    },
    "areaServed": {
      "@type": "Country",
      "name": "Gibraltar"
    },
    "openingHoursSpecification": [
      {
        "@type": "OpeningHoursSpecification",
        "dayOfWeek": "Friday",
        "opens": "18:00",
        "closes": "23:59",
        "description": "Open to the public"
      },
      {
        "@type": "OpeningHoursSpecification",
        "dayOfWeek": ["Monday", "Wednesday", "Friday", "Saturday", "Sunday"],
        "opens": "10:00",
        "closes": "22:00",
        "description": "Member access"
      }
    ],
    "sameAs": [
      "https://www.facebook.com/profile.php?id=61582095542976",
      "https://www.instagram.com/dicebastion/",
      "https://shop.dicebastion.com"
    ]
  }
  </script>
{{ else if .IsPage }}
  {{- $iso8601 := "2006-01-02T15:04:05-07:00" -}}
  <script type="application/ld+json">
  [{
    "@context": "https://schema.org",
    "@type": "Article",
    "articleSection": "{{ (site.GetPage .Section).Title | safeJS }}",
    "name": "{{ .Title | safeJS }}",
    "headline": "{{ .Title | safeJS }}",
    {{ with .Description }}"description": "{{ . | safeJS }}",{{ end }}
    {{ with .Summary }}"abstract": "{{ . | safeJS }}",{{ end }}
    {{ with .Site.LanguageCode }}"inLanguage": "{{ . }}",{{ end }}
    "url" : "{{ .Permalink }}",
    "author" : {
      "@type": "Organization",
      "name": "{{ .Site.Params.Author.name | safeJS }}"
    },
    {{ with .PublishDate }}"copyrightYear": "{{ .Format "2006" }}",{{ end }}
    {{ with .Date }}"dateCreated": "{{ .Format $iso8601 }}",{{ end }}
    {{ with .PublishDate }}"datePublished": "{{ .Format $iso8601 }}",{{ end }}
    {{ with .ExpiryDate }}"expires": "{{ .Format $iso8601 }}",{{ end }}
    {{ with .Lastmod }}"dateModified": "{{ .Format $iso8601 }}",{{ end }}
    {{ if .Keywords }}
    {{ with .Keywords }}"keywords": {{ . }},{{ end }}
    {{ else }}
    {{ with .Params.tags }}"keywords": {{ . }},{{ end }}
    {{ end }}
    "mainEntityOfPage": "true",
    "wordCount": "{{ .WordCount }}"
  }]
  </script>
{{ end }}
